<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" language="javascript">

    $(document).ready(function() {
        $.ajax({
            url: "http://127.0.0.1:9080/all"
        }).then(function(data) {
           console.log('Ajax Products : ' + JSON.stringify(data));
           $('.product-content').append(JSON.stringify(data));
        });
    });

    </script>

</head>
<body>
<p th:text="'Product List (Server side Loopback) : ' + ${productList}" />
<p class="product-content">Product List (Jquery) : </p>



</body>
</html>